*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.basic{
    border: 1px solid black;
    background: rgb(83, 136, 4);
    color: black;
}

.standard-square{
    width: calc(100vh / 10 - 10px);
    height: calc(100vh / 10 - 10px);
    margin: 0.5rem;
}

.everything-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.danger{
    border: 1px solid black;
    background: rgb(192, 69, 90);
    color: black;
}

.safe{
    border: 1px solid black;
    background: rgb(109, 109, 226);
    color: white;
}